.contains-product {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

@media screen and (max-width: 1024px) {
  .contains-product {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 640px) {
  .contains-product {
    grid-template-columns: 1fr;
  }
}
